.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: #004080;
  //max-width: 760px;
  width: 100%;
  margin: 0 auto;
  color:#fff;
  border-radius: 500px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.panel {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .mat-table,
  .mat-header-row,
  .mat-row {
    background: #fff;
  }

  .mat-header-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.full {
  width: 100%;
}

.dt-row {
  display: flex;
  gap: 0.75rem;
}

table {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  background-color: #e3f2fd !important;
  border-radius: 4px;
}

:host ::ng-deep table.mat-table,
:host ::ng-deep table.mat-mdc-table {
  background: #fff !important;
}

:host ::ng-deep table.mat-table thead,
:host ::ng-deep table.mat-mdc-table thead {
  background: #fff !important;
}

:host ::ng-deep tr.mat-header-row,
:host ::ng-deep tr.mat-mdc-header-row,
:host ::ng-deep tr.mat-row,
:host ::ng-deep tr.mat-mdc-row {
  background: #fff !important;
}

:host ::ng-deep th.mat-header-cell,
:host ::ng-deep th.mat-mdc-header-cell,
:host ::ng-deep td.mat-cell,
:host ::ng-deep td.mat-mdc-cell {
  background: #fff !important;
}

:host ::ng-deep tr.mat-header-row,
:host ::ng-deep tr.mat-mdc-header-row {
  border-bottom: 1px solid rgba(0,0,0,0.12) !important;
}

button.mat-icon-button.mat-secondary,
button.mat-mdc-icon-button.mat-secondary,
button.mat-button-base.mat-secondary {
  margin-right: 0.4rem;
  background-color: #55915a !important;
  color: #fff               !important;
}
button.mat-icon-button.mat-secondary:hover,
button.mat-mdc-icon-button.mat-secondary:hover,
button.mat-button-base.mat-secondary:hover {

  background-color: #b0deb1 !important;
}

button.mat-icon-button.mat-primary,
button.mat-mdc-icon-button.mat-primary,
button.mat-button-base.mat-primary {
  margin-right: 0.4rem;
  background-color: #115293 !important;
  color: #fff               !important;
}
button.mat-icon-button.mat-primary:hover,
button.mat-mdc-icon-button.mat-primary:hover,
button.mat-button-base.mat-primary:hover {
  background-color: #63a4ff !important;
}


button.mat-icon-button.mat-warn,
button.mat-mdc-icon-button.mat-warn,
button.mat-button-base.mat-warn {
  margin-right: 0.4rem;
  background-color: #d32f2f !important;
  color: #fff             !important;
}
button.mat-icon-button.mat-warn:hover,
button.mat-mdc-icon-button.mat-warn:hover,
button.mat-button-base.mat-warn:hover {
  background-color: #f55a4e !important;
}

:host ::ng-deep input[matinput],
:host ::ng-deep input.mat-mdc-input-element {
  background-color: #fff !important;
  border-radius:      4px   !important;
  padding:            0.2rem!important;
}

:host ::ng-deep .mat-mdc-form-field-flex,
:host ::ng-deep .mat-form-field-infix {
  background-color: #fff !important;
  border-radius:      4px   !important;
}
