<div class="action-boxes">
  <a class="action-box" routerLink="/users">
    <mat-icon>group</mat-icon>
    <span>Users</span>
  </a>

  <a class="action-box" routerLink="/tables">
    <mat-icon>table_chart</mat-icon>
    <span>Tables</span>
  </a>

  <a class="action-box" routerLink="/bookings">
    <mat-icon>event</mat-icon>
    <span>Bookings</span>
  </a>


  <a routerLink="/register" class="action-box">
    <mat-icon>person_add</mat-icon>
    Register
  </a>

  <div class="action-box" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </div>
</div>
